@page
@model BevestigingAfrekenenViewModel
@{
    ViewData["Title"] = "afrekenenbevestiging";
}
<h1>Bedankt voor uw betaling</h1>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
